
<div class="container-layout">
  @if(!isSidebarOpen){
  <span (click)="openSideBarMenu()"
    class="menu-burger"><app-menu-burger-svg /></span>
  } 
  <aside class="sidebar">
    <app-navappjilali (logout)="handleUserLogout()"
      (isProfileDetailsViewOpenEvent)="recieveProfileDetailsViewOpenValue($event)" />

    <div class="sidebar-foot">
      <div class="avatar">{{getAvatar()}}</div>
      <div class="who">
        <strong>{{loggedUser?.lastName}} {{loggedUser?.firstName}}</strong>
        <small>{{loggedUser?.email}}</small>
      </div>
    </div>
  </aside>
  @if(isSidebarOpen){
  <aside class="sidebar-mini">
    <span (click)="closeSideBar()" ><app-close-btn /></span>
    <app-navappjilali (logout)="handleUserLogout()"
      (isProfileDetailsViewOpenEvent)="recieveProfileDetailsViewOpenValue($event)" />

    <div class="sidebar-foot">
      <div class="avatar">JA</div>
      <div class="who">
        <strong>{{loggedUser?.firstName}} {{loggedUser?.lastName}}</strong>
        <small>{{loggedUser?.email}}</small>
      </div>
    </div>
  </aside>
  }

  <main>
    <app-profile-view-modal [isOpen]="isProfileViewModalOpen"
      (closeProfileModal)="handleCloseProfileModal()" />
    <router-outlet />
  </main>

</div>