#themeicone{
    position: absolute;
    bottom: 20px;
    right: 30px;
    z-index: 500;
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease ;
}
#themeicone:hover{
    transform: rotate(45deg);
}
#themelamp{
    position: absolute;
    bottom: 140px;
    right: 40px;
    z-index: 500;
    width: 50px;
    cursor: pointer;
}

.flag-container{
    position: absolute;
    bottom: 120px;
    right: 30px;
    z-index: 1000;
    width: 130px;
    cursor: pointer;
    transition: transform 0.3s ease ;
    img{
        width: 60px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
    }
}
.flag-container .flag2{
    transform: translateX(-65px);
    opacity: 0;
    transition: opacity 0.3s ease ; 
}
.flag-container:hover .flag2{
    opacity: 1;
}