@if(isOpen){
    <div class="modal-overlay">
    <form class="modal" [formGroup]="form" (ngSubmit)="addNewNote()" >
        <div class="modal-header">
            <h2>Add a Note</h2>
            <button class="close-btn" (click)="closeModal()">x</button>
        </div>
   
    <div class="modal-body">
        <p>Write your thoyghts here</p>
        <input class="input-title" placeholder="add title" formControlName="title" />
        <textarea placeholder="Write your note..." formControlName="content"></textarea>
    </div>
    <div class="modal-footer">
        <button class="cancel-btn" (click)="closeModal()">Cancel</button>
        <button class="save-btn" type="submit">Save</button>
    </div>
</form>
</div>
}